* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
}

html,
body {
  height: 100%;
}
.layout {
  display: flex;
  /*flex-wrap: wrap;  eleman taşarsa onu aşağı getir */
  flex-direction: column;
  height: 100%;
}
.layout .flex {
  display: flex;
  width: 100%;
  height: calc(100% - 140px);
}
.header {
  width: 100%;
  height: 70px;
  background: #eee;
}
.sidebar {
  width: 200px;

  flex-shrink: 0; /*  Bu kısmı tarayıcı küçültülse dahi küçültme  */
  background: #ccc;
}
.content {
  background: purple;
  flex-grow: 1;
  overflow: auto;
}
.footer {
  height: 70px;
  width: 100%;
  background: #bbb;
}
.input{
  margin: 40px;
  display: inline-flex;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.input button {
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  background: #eee;
  border-right: 1px solid #ddd;
}
.input input{
  padding:  0 15px;
  font-size: 14px;
  outline: none;
}
.input:focus-within{
  border-color: rebeccapurple;
}